.container {
    padding-top: 20px;
}
.wrapper {
    box-sizing: border-box;
    margin-bottom: 100px;
    margin-top: 20px;
    border-top: 1px solid #e0e0e0;
    padding-top: 20px;
}
.projectsList {
    width: 85%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}