@import "../../../scss/variables";

.field {
  border-radius: 7px;
  border: 1px solid $input-br;
  outline: none;
  color: $input-tx;
  padding-left: 16px;
  padding-right: 16px;

  &, input {
    background-color: $input-bg;
  }

  &::placeholder {
    font-size: 15px;
    font-weight: 500;
  }

  &:hover {
    border-color: $input-hover-br;
  }

  &:focus {
    border-color: $input-focus-br;
    box-shadow: none;
  }

  &_input {
    height: 43px;
  }

  &_textarea {
    height: 86px !important;
    resize: none;
  }

  &__label {
    label {
      font-size: 15px;
    }
  }
}