.user {
    display: flex;
    box-sizing: border-box;
    margin-bottom: 30px;
    padding-bottom: 20px;
    border-bottom: 1px solid #e0e0e0;
}
.userAvatar img {
    width: 100px;
    border-radius: 50%;
    display: block;
    margin: auto;
}
.userDescription {
    margin-left: 30px;
    display: flex;
    justify-content: space-between;
    flex-basis: 100%;
}
.userDescription button {
    width: 110px;
    font-size: 16px;
    padding: 7px 25px;
    border-radius: 30px;
    border: none;
    background-color: #8dc63f;
    color: #fff;
    cursor: pointer;
    outline: none;
}
.userDescription button:hover {
    background-color: #84bc3e;
}
.userDescription p {
    width: 100%;
    color: #6d6e71;
    font-size: 14px;
}
.userDescription .name {
    font-size: 18px;
    color: #2c2c2c;
    font-weight: bold;
    text-decoration: none;
}
.userDescription .name:hover {
    text-decoration: underline;
}

.search button:hover {
    background-color: #229ace;
}
