.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}
.inputField textarea {
    height: 70px;
    resize: none;
    width: 400px;
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
    color: #46484b;
    font-size: 14px;
    outline: none;
    margin-right: 20px;
}
.inputField button {
    font-size: 16px;
    padding: 7px 25px;
    border-radius: 30px;
    border: none;
    background-color: #27aae1;
    color: #fff;
    cursor: pointer;
    outline: none;
}
.inputField {
    display: flex;
    align-items: center;
    margin-top: 40px;
    padding-bottom: 40px;
    border-bottom: 1px solid #e0e0e0;
}
.inputField form {
    display: flex;
    align-items: center;
}
.container {
    padding-top: 0.1px;
    width: 85%;
    margin: auto;
}