.search {
    padding-left: 27px;
}

.searchInput {
    height: 40px;
    min-width: 450px;
    background-color: #f1f3f4;
    border-radius: 6px;
    border: none;
    padding-right: 30px;
    box-shadow: none;
}

.searchInput input {
    background-color: #f1f3f4;
    outline: none;
    color: #393939;
    font-size: 14px;
}

.searchInput input::placeholder {
    color: #737373;
}

.searchInput span {
    margin-right: 15px;
}

.search button {
    font-size: 16px;
    padding: 7px 25px;
    border-radius: 30px;
    border: none;
    background-color: #27aae1;
    color: #fff;
    cursor: pointer;
}

.search button:hover {
    background-color: #229ace;
}
