.container {
    background: linear-gradient(to right, rgba(0,0,0, 0.7) , rgba(0,0,0, 0.7)), url(https://g1.dcdn.lt/images/pix/programisiai-atakuoja-74631562.jpg) fixed no-repeat;
    background-size: 100% 100%;
    min-height: 900px;
    padding-top: 50px;
}
.wrapper {
    max-width: 1200px;
    width: 100%;
    margin: auto;
    color: white;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));;
}
.wrapper > div {
    padding-top: 0.1px;
    position: relative;
}
.form_background {
    width: 85%;
    height: 390px;
    background: linear-gradient(to right, rgba(255,255,255, 0.2) , rgba(255,255,255, 0.05));
    position: absolute;
    left: -50px;
    top: 0;
    bottom: 0;
    margin: auto;
    display: flex;
    align-items: center;
    border-radius: 6px;
    z-index: 1;
}
.form_background div {
    transform: rotate(-90deg);
    width: 40px;
    font-weight: bold;
    font-size: 18px;
    color: white;
}
.form {
    width: 74%;
    height: 560px;
    background-color: white;
    color: #939598;
    border-radius: 6px;
    padding: 40px 40px 40px 60px;
    margin-top: 30px;
    box-sizing: border-box;
    z-index: 50;
    position: relative;
}
.form h3 {
    color: #27aae1;
    font-size: 24px;
    font-weight: normal;
    margin: 20px 0 10px;
}
.form p {
    margin: 0 0 10px;
}
.description {
    width: 50%;
    margin: auto;
    margin-top: 30px;
    padding: 140px 0;
}
.description h1 {
    text-align: left;
    font-family: 'Oswald', sans-serif;
}

@media screen and (max-width: 720px) {
    .form {
        margin: auto;
    }
    .form_background {
        left: 0;
        right: 0;
        margin: auto;
    }
    .description {
        padding: 0;
        text-align: center;
    }
    .description h1 {
        text-align: center;
    }
}