.item img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: block;
    margin: auto;
}
.item {
    margin-bottom: 10px;
    position: relative;
}
.item.online::after {
    content: "";
    display: block;
    width: 6px;
    height: 6px;
    background-color: #00b500;
    border: 2px solid #fff;
    border-radius: 50%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -4px;
    margin: auto;
}
