.ant-btn {
    border-radius: 6px;
}

.ant-btn-primary {
    background-color: #377dff;
    border-color: #377dff;
}

.ant-btn-primary:hover {
    background-color: #1a73e8;
    border-color: #1a73e8;
}

.btn {
    border: none;
    width: 100%;
    height: 40px;
    font-weight: 600;
}


.btn-light-primary {
    color: #1a73e8;
    background-color: #E8F0FE;
    transition: background-color .1s;
}

.btn-light-primary:hover {
    color: #fff;
    background-color: #1a73e8;
    transition: background-color .1s;
}

.btn-light-dark {
    color: #3e416d;
    background-color: #f1f3f4;
    transition: background-color .1s;
}

.btn-light-dark:hover {
    color: #fff;
    background-color: #65707b;
    transition: background-color .1s;
}

/*comments*/

.ant-comment-content-author {
    margin: 0;
}

.ant-comment-actions {
    margin-top: 3px;
}

.ant-comment-inner {
    padding-bottom: 0;
}


/*popup*/

.ant-popover-inner {
    padding: 8px;
    border-radius: 8px;
    color: #666;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.ant-popover-inner-content {
    padding: 0;
    min-width: 200px;
}
