//sizes

$main-top-offset: 79px;

//backgrounds

$input-bg: #f1f3f4;
$btn-primary-hover-bg: #26a0d7;
$link-gray-hover-bg: #ededed;
$tab-blue-bg: #dde9ff;
$white-bg: #ffffff;
$blue-bg: #1b74e8;
$gray-bg: #f4f4f4;

//borders

$input-br: #eceff5;
$input-hover-br: #eceff5;
$input-focus-br: #d0d0d0;

$separate-br: 1px solid #ebebee;
$box-shadow-br: 0px 1px 9px -2px #d2d2d2;

//text colors

$input-tx: #666;
$danger-tx: #ff4d4f;
$link-gray-tx: #474747;
$link-active-tx: #1a73e8;
$title-tx: #545454;
$title-item-tx: #333;
$tab-blue-tx: #679af9;
$white-tx: #fff;
$gray-tx: #6D6D6D;
