.landing__form {
    width: 100%;
    margin-bottom: 24px;
}

div.field {
    width: 100%;
    margin-bottom: 10px;
}

.captcha input {
    padding: 6px 12px;
    border-radius: 30px;
    border: 1px solid #e0e0e0;
    box-sizing: border-box;
    outline: none;
}

.captcha {
    margin-bottom: 15px;
}

div.field input {
    height: 43px;
    color: #666;
    border-radius: 7px;
    padding: 0 16px;
    border: 1px solid #eceff5;
    background: #F1F3F4;
    outline: none;
}

div.field input::placeholder {
    font-size: 15px;
    font-weight: 500;
}

div.field input:hover {
    border-color: #eceff5;
}

div.field input:focus {
    border-color: #d0d0d0;
    box-shadow: none;
}

div.remember {
    color: #6d6d6d;
    margin-bottom: 10px;
}

div.remember label {
    cursor: pointer;
}

.btn_login {
    width: 100%;
    height: 45px;
}

.btn_login:hover {
    background-color: #26a0d7;
}

.summaryError {
    height: 50px;
    border: 1px solid red;
    background-color: rgba(255, 0, 0, 0.7);
    margin-top: 15px;
    color: white;
    box-sizing: border-box;
    padding: 0 10px;
    line-height: 50px;
    border-radius: 6px;
    box-shadow: 1px 1px 5px red;
}